

	<div class="name box">
		<label for="name">Welcome, <%= current_user.username %>. Solve these derivatives as fast as you can.</label>
	</div>

<div class="box" id="stopwatch">
	<div class="clock">
		<span id="seconds">00</span>:<span id="minutes">00</span><span id="question_number">5</span>
	</div>
	<input id="start" type='button' value='Start'/>
</div>

<%= form_for(@dTime) do |f|  %>

	<%= f.hidden_field :score %>


	<div class="q1 box">
		<span class="red"></span>
		<h2>x^2 + x + 1</h2>
		<input type="text" id="q1" name="q1" />
	</div>

	<div class="q2 box">
		<span class="red"></span>
		<h2>2x^3 + 4x^2 + 3x + 6</h2>
		<input type="text" id="q2" name="q2" >
	</div>

	<div class="q3 box">
		<span class="red"></span>
		<h2>6x + 1</h2>
		<input type="text" id="q3" name="q3" >
	</div>

	<div class="q4 box">
		<span class="red"></span>
		<h2>7x^3 + 2x^2</h2>
		<input type="text" id="q4" name="q4">
	</div>

	<div class="q5 box">
		<span class="red"></span>
		<h2>3x^3 + 2</h2>
		<input type="text" id="q5" name="q5">
	</div>

	<div class="submit_div">
		<%= f.submit("Submit Time") %>
	</div>

<% end %>
