<h1 class="center">Levels</h1>

<div class="box">
	<h2 class="center">Addition</h2>
</div>

<div class="box">
	<h2 class="center">Multiplication</h2>
</div>

<%= link_to derivatives_path do %>
	<div class="box">
		<h2 class="center">Derivatives</h2>
	</div>
<% end %>